.categories{
    &__inner {
        display: flex;
        padding: 0rem 0 8rem 0;
        align-items: center;
        gap: 4rem; 
    }
    &__title {
        max-width: 100%;
        display: flex;
        padding: 3.6rem 3.2rem;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        border-radius: 1.2rem;
        background: #F9DAEC;
        box-shadow: 0px 2px 4px 0px rgba(249, 218, 236, 0.50), 0px 6px 16px 0px rgba(0, 0, 0, 0.05);
        color: #000;
        font-size: 3.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3.6rem; /* 112.5% */
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
    }
    &__cards {
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        gap: 2.8rem;
        flex: 1 0 0;
        flex-wrap: wrap;
    }

}